* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Mulish;
  transition: all 0.2s ease-in-out;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('../src/assets/images/backroung.svg');
  background-repeat: no-repeat;
}